###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# Fichiers de configuration IDE (si tu utilises PhpStorm ou autre IDE)
.idea/

# Fichiers de log
*.log

# Fichiers générés par Composer
composer.phar

# Cache de Symfony
.cache/

# Fichiers temporaires de build
public/build/

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
